# Safepay API Credentials
# Add your secret key here on your deployment/server
SAFEPAY_SECRET_KEY=

# Public variables for Vite (Client-side)
VITE_SAFEPAY_PUBLIC_KEY=
VITE_SAFEPAY_ENVIRONMENT=sandbox
